
*{
  margin:0.6px;
  font-size:100%;  
  font-family: 'Raleway',sans-serif;
  
}
header{
   
    display:flex;
    
    background-image: linear-gradient(to right, #131614, #444847);
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
   

}

.align{
    /*brings e-edu to near to logo*/
      display:inline-flex;
      cursor: pointer;
    
}
.logo_font{
    /*brings college name under e-edu*/
    display:inline-block;
   
}




h1{
        /* for the font */
        top: 0;
        font-size:36.66px;
        font-family: 'Raleway',sans-serif;
      
        background:linear-gradient(to right,#972139,#941941,#7A2E63,#553F70,#35476A,#2F4858);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    
}
    
    h6{
        font-size:17px;
        font-weight:900;
        font-family: 'Raleway',sans-serif;
        background:linear-gradient(to right,#a2315b,#9e2e4e,#992c42,#973736);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
    }

  


    
        
  






